<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrative page</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<h1>Administrative page</h1>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
    <a th:href="@{/Leaderboard}">Leaderboard</a>
</div>
    <div>
        <form action = "Creation" method="GET">
            <input type="submit" value="Create a new questionnaire">
        </form>
    </div>
<section>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Product</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q : ${questionnaires}">
            <td th:text="${q.id}"></td>
            <td th:text="${q.date}"></td>
            <td th:text="${q.product.name}"></td>
            <td><a th:href="@{/Inspection(questid=${q.id})}">Inspect</a></td>
            <td><a th:href="@{/Deletion(questid=${q.id})}" >Delete</a></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>